@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&display=swap');

:root {
  --clr-orange: hsl(25, 97%, 53%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-medium-grey: hsl(210, 19%, 18%);
  --clr-dark-blue: hsl(215, 25%, 14%);
  --clr-very-dark-blue: hsl(228, 11%, 9%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 16px;
}

body {
  min-height: 100dvh;
  font-family: 'Overpass', sans-serif;
}

img {
  display: block;
  max-height: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.main {
  height: 100vh;
  background-color: var(--clr-very-dark-blue);
  display: grid;
  place-items: center;
}

/* rating-state */

.rating-state,
.thank-you-state {
  background-color: var(--clr-dark-blue);
  width: min(100% - 3rem, 412px);
  height: 360px;
  padding-inline: 24px;
  padding-top: 24px;
  border-radius: 14px;
}

.rating-state__img,
.rating-state__number {
  width: 40px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-medium-grey);
  border-radius: 50%;
  margin-bottom: 18px;
}

.rating-state__start-icon {
  width: 14px;
}

.rating-state__title,
.thank-you-state__title {
  color: var(--clr-white);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 11px;
}

.rating-state__description,
.thank-you-state__description {
  color: var(--clr-light-grey);
  font-size: 15px;
  letter-spacing: -0.45px;
  line-height: 22px;
  margin-bottom: 26px;
}

.rating-state__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.rating-state__number {
  border: none;
  width: 42px;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--clr-light-grey);
  cursor: pointer;
  transition: 0.4s;
}

.rating-state__number:hover {
  background-color: var(--clr-light-grey);
  color: var(--clr-white);
}

.rating-state__number:focus {
  background-color: var(--clr-orange);
  color: var(--clr-white);
}

.rating-state__button {
  border: none;
  border-radius: 24px;
  width: 100%;
  text-transform: uppercase;
  background-color: var(--clr-orange);
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  color: var(--clr-white);
  padding-block: 13px;
  letter-spacing: 0.1px;
  transition: 0.4s;
}

.rating-state__button:hover {
  color: var(--clr-orange);
  background-color: var(--clr-white);
}

/* thank-you-state */

.thank-you-state {
  display: grid;
  justify-items: center;
  align-content: start;
  padding-top: 34px;
}

.thank-you-state__img {
  width: 144px;
  margin-bottom: 26px;
}

.thank-you-state__rate {
  font-size: 14px;
  color: var(--clr-orange);
  background-color: var(--clr-medium-grey);
  padding-block: 6px;
  padding-inline: 12px;
  border-radius: 20px;
  margin-bottom: 28px;
}

.thank-you-state__description {
  text-align: center;
}

/* Hidden card */

.hidden {
  display: none;
}

@media screen and (width >= 600px) {
  .rating-state,
  .thank-you-state {
    height: 416px;
    border-radius: 30px;
    padding: 32px 36px 0 32px;
  }

  .rating-state__img,
  .rating-state__number {
    width: 48px;
    margin-bottom: 32px;
  }

  .rating-state__start-icon {
    width: 16px;
  }

  .rating-state__title,
  .thank-you-state__title {
    font-size: 28px;
  }

  .rating-state__description,
  .thank-you-state__description {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 28px;
  }

  .rating-state__container {
    margin-bottom: 33px;
  }

  .rating-state__number {
    width: 50px;
    margin-bottom: 0;
  }

  .rating-state__button {
    letter-spacing: 1.5px;
  }

  .thank-you-state {
    padding-top: 45px;
  }

  .thank-you-state__img {
    width: 162px;
    margin-bottom: 33px;
  }

  .thank-you-state__rate {
    font-size: 15px;
    padding-inline: 20px;
    margin-bottom: 34px;
  }
  .thank-you-state__description {
    letter-spacing: 0.1px;
    font-size: 15px;
  }
}
